<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic" rel="stylesheet" />
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <title>First Class Driving School</title>
</head>
<body>
    <div class="f0f__wrapper">
        <h1 class="f0f__title">404</h1>
        <div class="f0f__content">
            <h3 class="f0f__subtitle">We can't find that page</h3>
            <p class="f0f__text">We're fairly sure that page used to be here, but seems to have gone missing. We do apologise on it's behalf.</p>
            <a href="http://127.0.0.1:8000/" class="f0f__link">Home</a>
        </div>
    </div>
</body>
</html>