
body {
  background-color: #fbfbfb;
  font-family: Poppins;
  margin: 0;
}
.model_create_form {
    font
}

.model_delete_form {
    font
}

.model_delete_title {

}

.model_delete_card {
    background-color:red;
    height: 600px;
    width:400px;
}