<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>First Class Driving School</title>
</head>
<body>

    <header class="header">
        <div class="header__main swiper MySwiper">
            <div class="header__top">
                <div class="container">
                    <div class="header__top-inner">
                        <a href="index.html" class="header__logo logo">
                            First Class
                        </a>
                        <div class="header__menu menu">
                            <div class="menu__icon">
                                <span></span>
                            </div>
                            <nav class="navbar">
                                <ul class="navbar__list">
                                    <li class="navbar__item">
                                        <a href="#" class="navbar__link active">Home</a>
                                    </li>
                                    <li class="navbar__item">
                                        <a href="pages/about_us.html" class="navbar__link">About us</a>
                                    </li>
                                    <li class="navbar__item">
                                        <a href="pages/courses.html" class="navbar__link">Courses</a>
                                    </li>
                                    <li class="navbar__item">
                                        <a href="pages/instructors.html" class="navbar__link">Instructors</a>
                                    </li>
                                    <li class="navbar__item">
                                        <a href="pages/blog.html" class="navbar__link">Blog</a>
                                    </li>
                                    <li class="navbar__item">
                                        <a href="pages/faqs.html" class="navbar__link">FAQs</a>
                                    </li>
                                    <li class="navbar__item">
                                        <a href="pages/contacts.html" class="navbar__link">Contacts</a>
                                    </li>
                                    <li class="navbar__item">
                                        <a class="navbar__link" href="/registration/">Register</a>
                                    </li>
                                    <li class="navbar__item">

                                    {% if request.user.is_authenticated%}
       <li class="navbar__item">
                                        <a class="navbar__link" href="/logout/">Logout</a>
                                    </li>
        {% else %}
       <li class="navbar__item">
                                        <a class="navbar__link" href="/login/">Login</a>
                                    </li>
        {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="parallax-bg" data-swiper-parallax="-23%"></div>
            <div class="header__main-inner swiper-wrapper">
                <div class="swiper-slide">
                        <div class="header__main-content">
                            <h1 class="header__main-title" data-swiper-parallax="-300">Admin Panel</h1>
                        </div>
                </div>
            </div>
        </div>
    </header>

    <section class="advantages">
        <div class="container">
            <div class="advantages__inner">
                <h2 class="advantages__title">Our Advantages</h2>
                                {% if request.user.is_superuser %}
                <center>
                                    <div class="model_creation_button">
                                      <a class="add_model_button" href="/advantages/create">Add Advantage</a>
                                    </div>
                </center>
                                        {% endif %}
                <div class="advantages__cards">
                    {% for y in advantages %}
                    <div class="advantages__card pricing">
                        <div class="advantages__card-face face1">
                            <div class="content">
                                <img src="{{y.image.url}}" alt="card" class="advantages__card-img">
                                <h3 class="advantages__card-title">{{y.title}}</h3>
                                {% if request.user.is_superuser %}
                                    <a class="navbar__item">
                                      <a class="update_model_button" href="advantage/{{y.id}}/update">Update</a>
                                    </a>
                                    <a class="navbar__item">
                                      <a class="delete_model_button" href="advantage/{{y.id}}/delete">Delete</a>
                                    </a>
                                        {% endif %}
                            </div>
                        </div>
                        <div class="advantages__card-face face2">
                            <div class="content">
                                <p class="advantages__card-desc">{{y.description}}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="instructors">
        <div class="container">
            <div class="instructors__inner">
                <h2 class="instructors__title">Our Instructors</h2>
                {% if request.user.is_superuser %}
                <center>
                                    <div class="model_creation_button">
                                      <a class="add_model_button" href="/instructor/create">Add Instructor</a>
                                    </div>
                </center>
                                        {% endif %}
                <div class="instructors__slider swiper mySwiper">
                    <div class="slider__wrapper swiper-wrapper">
                        {% for i in instructor %}
                        <div class="slider__slide swiper-slide">
                            <div class="slider__slide-img-wrapper">
                                <img src="{{i.image.url}}" alt="instructor" class="img slider__slide-img">
                            </div>
                            <h3 class="slider__slide-title"><a href="{{i.id}}/instructor">{{i.title}}</a></h3>
                            <p class="slider__slide-desc">{{i.description}}</p>
                            {% if request.user.is_superuser %}
                                    <a class="navbar__item">
                                      <a class="update_model_button" href="instructor/{{i.id}}/update">Update</a>
                                    </a>
                                    <a class="navbar__item">
                                      <a class="delete_model_button" href="instructor/{{i.id}}/delete">Delete</a>
                                    </a>
                                        {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="courses">
        <div class="container">
            <h2 class="courses__title">Our courses</h2>
            {% if request.user.is_superuser %}
                <center>
                                    <div class="model_creation_button">
                                      <a class="add_model_button" href="/course/create">Add Course</a>
                                    </div>
                </center>
                                        {% endif %}
            <div class="courses__inner">
                <div class="courses__info">
                    <p class="courses__text">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id saepe accusamus, tenetur laboriosam architecto soluta temporibus eaque voluptas. Ipsam quo laboriosam distinctio facere, placeat atque illo quod. Cupiditate dolores hic vitae, amet modi quas numquam! Soluta voluptatem consectetur et, ducimus quisquam harum ad nihil sit rerum optio eius explicabo enim, quidem molestias magni aut doloribus. Ipsam iusto ipsum adipisci reprehenderit magnam eaque blanditiis, at omnis rem mollitia quae tempore eveniet sed aut molestias dolor cumque nulla optio beatae. Asperiores earum praesentium ipsa cupiditate ea dolor ex rerum assumenda cum blanditiis minus itaque quasi, fugit explicabo facilis sed. Incidunt, iure quidem!
                    </p>
                    <button class="courses__info-button">
                        <a href="pages/courses.html" class="courses__info-link">View all</a>
                    </button>
                </div>

                <div class="courses__wrapper">
                 {% for j in course %}
                    <div class="courses__card card">
                        <div class="card__additional">
                            <div class="card__car-card">
                                <div class="card__img-wrapper">
                                    <img src="{{j.image.url}}" alt="card-img" class="card__img">
                                </div>
                            </div>
                            <div class="card__more-info">
                                <h3 class="card__title">{{j.title}}</h3>
                                <div class="card__infos">
                                    <div class="card__info">
                                        <span class="card__info-name">Price</span>
                                        <span class="card__info-value">{{j.price}} KGS</span>
                                    </div>
                                    <div class="card__info">
                                        <span class="card__info-name">Course duration</span>
                                        <span class="card__info-value">{{j.duration}} week</span>
                                    </div>
                                    <div class="card__info">
                                        <span class="card__info-name">Number of practical lessons</span>
                                        <span class="card__info-value">{{j.lessons}}</span>
                                    </div>
                                </div>
                                {% if request.user.is_superuser %}
                                    <a class="navbar__item">
                                      <a class="update_model_button" href="course/{{j.id}}/update">Update</a>
                                    </a>
                                    <a class="navbar__item">
                                      <a class="delete_model_button" href="course/{{j.id}}/delete">Delete</a>
                                    </a>
                                        {% endif %}
                                <a href="{{j.id}}/course" class="card__link">View course</a>
                            </div>
                        </div>
                        <div class="card__general">
                            <h3 class="card__title">{{j.title}}</h3>
                            <p class="card__text">{{j.description}}</p>
                            <span class="card__more">Mouse over the card for more info</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="blog">
        <div class="container">
            <h2 class="blog__title">Blog</h2>
            {% if request.user.is_superuser %}
                <center>
                                    <div class="model_creation_button">
                                      <a class="add_model_button" href="/blog/create">Add Blog</a>
                                    </div>
                </center>
                                        {% endif %}
            <div class="blog__slider swiper mySwiper2">
                <div class="blog__slider-wrapper swiper-wrapper">
                  {% for k in blogs %}
                    <div class="blog__slide swiper-slide">
                    <img src="{{k.image.url}}" alt="slide img" class="blog__slide-img">
                    <div class="blog__slide-content">
                        <h4 class="blog__slide-title">{{k.title}}</h4>
                        <p class="blog__slide-text">{{k.description}}</p>
                        {% if request.user.is_superuser %}
                                    <a class="navbar__item">
                                      <a class="update_model_button" href="blog/{{k.id}}/update">Update</a>
                                    </a>
                                    <a class="navbar__item">
                                      <a class="delete_model_button" href="blog/{{k.id}}/delete">Delete</a>
                                    </a>
                                        {% endif %}
                        <div class="info">
                            <a href="{{k.id}}/blog" class="blog__slide-link">Read more</a>
                            <span class="blog__slide-date">{{k.created_date}}</span>
                        </div>
                    </div>
                  </div>
                    {% endfor %}
                  </div>
                </div>
            <a href="./pages/blog.html" class="blog__link">View all</a>
        </div>
    </section>

    <section class="traffic-laws">
        <div class="container">
            <h2 class="traffic-laws__title">Traffic laws</h2>
            {% if request.user.is_superuser %}
                <center>
                                    <div class="model_creation_button">
                                      <a class="add_model_button" href="/traffic_law/create">Add Traffic Law</a>
                                    </div>
                </center>
                                        {% endif %}
            <div class="traffic-laws__inner">
                {% for x in traffic_laws %}
                <div class="traffic-laws__card card">
                    <figure class="card__thumb">
                        <img src="{{x.image.url}}" alt="Picture by Daniel Lincoln" class="card__image">
                        <figcaption class="card__caption">
                          <h2 class="card__title">{{x.title}}</h2>
                            {% if request.user.is_superuser %}
                                    <a class="navbar__item">
                                      <a class="update_model_button" href="traffic_law/{{x.id}}/update">Update</a>
                                    </a>
                                    <a class="navbar__item">
                                      <a class="delete_model_button" href="traffic_law/{{x.id}}/delete">Delete</a>
                                    </a>
                                        {% endif %}
                          <p class="card__snippet">{{x.description}}</p>
                          <a href="{{x.id}}/traffic_law" class="card__button">Read more</a>
                        </figcaption>
                    </figure>
                </div>
                {% endfor %}
            </div>
            <a href="./pages/traffic_laws.html" class="traffic-laws__link">View all</a>
        </div>
    </section>

    <section class="faqs">
        <div class="container">
            <h2 class="faqs__title">FAQs</h2>
            {% if request.user.is_superuser %}
                <center>
                                    <div class="model_creation_button">
                                      <a class="add_model_button" href="/frequently_asked_questions/create">Add FAQ</a>
                                    </div>
                </center>
                                        {% endif %}
            <div class="faqs__wrapper">
                {% for z in frequently_asked_questions %}
                <div class="faqs__faq faq">
                    <button class="faq__header">{{z.title}}</button>
                    <div class="faq__body">
                        <p class="faq__content">{{z.description}}</p>
                        {% if request.user.is_superuser %}
                                    <a class="navbar__item">
                                      <a class="update_model_button" href="frequently_asked_questions/{{z.id}}/update">Update</a>
                                    </a>
                                    <a class="navbar__item">
                                      <a class="delete_model_button" href="frequently_asked_questions/{{z.id}}/delete">Delete</a>
                                    </a>
                                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>



    <div class="register">

    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>