<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog More Info</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
</head>
<body>
<section class="blog">
        <div class="container">
            <h2 class="blog__title">Blog</h2>
            <div class="blog__slider swiper mySwiper2">
                <div class="blog__slider-wrapper swiper-wrapper">
                <section class="blogs_extended_info">
                    <div class="blog__slide swiper-slide">
                    <img src="{{blogs.image.url}}" alt="slide img" class="blog__slide-img">
                    <div class="blog__slide-content">
                        <h4 class="blog__slide-title">{{blogs.title}}</h4>
                        <p class="blog__slide-text">{{extended_description}}</p>
                        <div class="info">
                            <span class="blog__slide-date">{{blogs.created_date}}</span>
                        </div>
                    </div>
                    </div>
                </section>
                </div>
            </div>
            <a href="./pages/blog.html" class="blog__link">View all</a>
        </div>
    </section>
</body>
</html>