<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
</head>
<body>
<section class="blogs_extended_info">
<div class="blog__slide swiper-slide">
                    <img src="{{blogs.image.url}}" alt="slide img" class="blog__slide-img">
                    <div class="blog__slide-content">
                        <h4 class="blog__slide-title">{{blogs.title}}</h4>
                        <p class="blog__slide-text">{{extended_description}}</p>
                        <div class="info">
                            <span class="blog__slide-date">{{blogs.created_date}}</span>
                        </div>
                    </div>
</div>
</section>
</body>
</html>