<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>First Class Driving School</title>
</head>
<body>
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="header__top-inner">
                    <a href="{% url 'home' %}" class="header__logo logo">
                        First Class
                    </a>
                    <div class="header__menu menu">
                        <div class="menu__icon">
                            <span></span>
                        </div>
                        <nav class="navbar">
                                <ul class="navbar__list">
                                    <li class="navbar__item">
                                        <a href="{% url 'home' %}" class="navbar__link">Home</a>
                                    </li>
                                    <li class="navbar__item">
                                        <a href="{% url 'about_us' %}" class="navbar__link">About us</a>
                                    </li>
                                    <li class="navbar__item">
                                        <a href="{% url 'courses' %}" class="navbar__link">Courses</a>
                                    </li>
                                    <li class="navbar__item">
                                        <a href="{% url 'instructors' %}" class="navbar__link">Instructors</a>
                                    </li>
                                    <li class="navbar__item">
                                        <a href="{% url 'blogs' %}" class="navbar__link active">Blog</a>
                                    </li>
                                    <li class="navbar__item">
                                        <a href="{% url 'frequently_asked_questions' %}" class="navbar__link">FAQs</a>
                                    </li>
                                    <li class="navbar__item">
                                        <a href="{% url 'contacts' %}" class="navbar__link">Contacts</a>
                                    </li>
                                    <li class="navbar__item">
                                        <a class="navbar__link" href="/registration/">Register</a>
                                    </li>
{% if request.user.is_superuser %}
                                    <li class="navbar__item">
                                      <a class="navbar__link" href="/admin">Admin Panel</a>
                                    </li>

                                        {% endif %}
                                    {% if request.user.is_authenticated%}
       <li class="navbar__item">
                                        <a class="navbar__link" href="/logout/">Logout</a>
                                    </li>
        {% else %}
       <li class="navbar__item">
                                        <a class="navbar__link" href="/login/">Login</a>
                                    </li>
        {% endif %}
                                </ul>
                            </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="breadcrumb">
        <div class="container">
            <ul class="breadcrumb__list">
                <li class="breadcrumb__item">
                    <a href="{% url 'home' %}" class="breadcrumb__link">Home</a>
                </li>
                <li class="breadcrumb__item">
                    <a href="{% url 'blogs' %}" class="breadcrumb__link">Blog</a>
                </li>
                <li class="breadcrumb__item">
                    <a href="#" class="breadcrumb__link">10 Practices That Make You a Safer Driver</a>
                </li>
            </ul>
        </div>
    </div>

    <main class="bloginfo">
        <section class="bloginfo__inner">
            <div class="container">
                <div class="bloginfo__item">
                    <div class="bloginfo__item-auth">
                        <div class="bloginfo__item-user">{{object.user}}</div>
                        <div class="bloginfo__item-date">{{object.created_date}}</div>
                    </div>
                    <h3 class="bloginfo__item-title">{{object.title}}</h3>
                    <div class="bloginfo__item-row">
                        <p class="bloginfo__item-column bloginfo__item-text bloginfo__item-text-1">{{object.description}}</p>
                        <div class="bloginfo__item-column bloginfo__item-img-wrapper">
                            <img src="{{object.image.url}}">
                        </div>
                    </div>
                    <div class="bloginfo__item-row">
                        
                        <p class="bloginfo__item-column bloginfo__item-text">
                            {{object.extended_description}}
                        </p>
                        <p class="bloginfo__item-column bloginfo__item-text">
                            {{object.extended_description_2}}
                        </p>
                    </div>
                    <div class="bloginfo__item-buttons">
                        {% if request.user.is_authenticated%}
                        <button class="bloginfo__item-button update">
                            <a href="/blog/{{blog.id}}/update" class="bloginfo__link">
                                <?xml version="1.0" encoding="iso-8859-1"?>
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
                                <g>
                                    <g id="spin">
                                        <g>
                                            <path d="M25.883,6.086l-2.82,2.832C24.953,10.809,26,13.324,26,16c0,5.516-4.484,10-10,10v-2l-4,4l4,4v-2
                                                c7.719,0,14-6.281,14-14C30,12.254,28.539,8.734,25.883,6.086z"/>
                                            <path d="M20,4l-4-4v2C8.281,2,2,8.281,2,16c0,3.746,1.461,7.266,4.117,9.914l2.82-2.832
                                                C7.047,21.191,6,18.676,6,16c0-5.516,4.484-10,10-10v2L20,4z"/>
                                        </g>
                                    </g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                </svg>
                            </a>
                        </button>
                        {% endif %}
                        {% if request.user.is_authenticated%}
                        <button class="bloginfo__item-button delete">
                            <a href="/blog/{{blog.id}}/delete" class="bloginfo__link">
                                <?xml version="1.0" encoding="iso-8859-1"?>
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 443 443" style="enable-background:new 0 0 443 443;" xml:space="preserve">
                                <g>
                                    <path d="M321.785,38h-83.384V0H125.169v38H41.785v60h280V38z M155.169,30h53.232v8h-53.232V30z"/>
                                    <path d="M295.142,214.31l5.66-86.31H62.769l19.016,290h114.172c-14.861-21.067-23.602-46.746-23.602-74.43
                                        C172.355,274.43,226.849,217.779,295.142,214.31z"/>
                                    <path d="M301.785,244.141c-54.826,0-99.43,44.604-99.43,99.429S246.959,443,301.785,443s99.43-44.604,99.43-99.43
                                        S356.611,244.141,301.785,244.141z M355.961,376.533l-21.213,21.213l-32.963-32.963l-32.963,32.963l-21.213-21.213l32.963-32.963
                                        l-32.963-32.963l21.213-21.213l32.963,32.963l32.963-32.963l21.213,21.213l-32.963,32.963L355.961,376.533z"/>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                </a>
                        </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="container">
            <div class="footer__inner">
                <div class="footer__column">
                    <a href="{% url 'home' %}" class="footer__logo logo">
                        First Class
                    </a>
                </div>
                <div class="footer__column">
                    <h3 class="footer__column-title">Main links</h3>
                    <a href="{% url 'about_us' %}" class="footer__column-link">about us</a>
                    <a href="{% url 'instructors' %}" class="footer__column-link">instructors</a>
                    <a href="{% url 'courses' %}" class="footer__column-link">courses</a>
                    <a href="{% url 'traffic_laws' %}" class="footer__column-link">traffic laws</a>
                </div>
                <div class="footer__column">
                    <h3 class="footer__column-title">Useful links</h3>
                    <a href="/login/" class="footer__column-link">login</a>
                    <a href="{% url 'contacts' %}" class="footer__column-link">contacts</a>
                    <a href="{% url 'blogs' %}" class="footer__column-link">blog</a>
                    <a href="{% url 'frequently_asked_questions' %}" class="footer__column-link">FAQs</a>
                </div>
                <div class="footer__column socials">
                    <h3 class="footer__column-title socials__ешеду">Follow us:</h3>
                    <ul class="socials__list">
                        <li class="socials__item">
                            <a href="https://instagram.com" class="footer__column-link socials__link">
                               <?xml version="1.0" encoding="utf-8"?>
                                <!-- Uploaded to SVGRepo https://www.svgrepo.com -->
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 260 260" enable-background="new 0 0 260 260" xml:space="preserve">
                                <path d="M164.58,64H95.42C78.1,64,64,78.1,64,95.42v69.16C64,181.9,78.1,196,95.42,196h69.16c17.32,0,31.42-14.1,31.42-31.42V95.42
                                    C196,78.1,181.9,64,164.58,64z M130,171.1c-22.66,0-41.1-18.44-41.1-41.1s18.44-41.1,41.1-41.1s41.1,18.44,41.1,41.1
                                    S152.66,171.1,130,171.1z M172.22,97.3c-5.3,0-9.6-4.3-9.6-9.61c0-5.3,4.3-9.6,9.6-9.6c5.31,0,9.61,4.3,9.61,9.6
                                    C181.83,93,177.53,97.3,172.22,97.3z M130,102.9c-14.94,0-27.1,12.16-27.1,27.1s12.16,27.1,27.1,27.1s27.1-12.16,27.1-27.1
                                    S144.94,102.9,130,102.9z M130,2C59.31,2,2,59.31,2,130s57.31,128,128,128s128-57.31,128-128S200.69,2,130,2z M210,164.58
                                    c0,25.04-20.38,45.42-45.42,45.42H95.42C70.38,210,50,189.62,50,164.58V95.42C50,70.38,70.38,50,95.42,50h69.16
                                    C189.62,50,210,70.38,210,95.42V164.58z" fill="#fff"/>
                                </svg>
                            </a>
                        </li>
                        <li class="socials__item">
                            <a href="https://facebook.com" class="footer__column-link socials__link">
                                <svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 .4C4.698.4.4 4.698.4 10s4.298 9.6 9.6 9.6 9.6-4.298 9.6-9.6S15.302.4 10 .4zm2.274 6.634h-1.443c-.171 0-.361.225-.361.524V8.6h1.805l-.273 1.486H10.47v4.461H8.767v-4.461H7.222V8.6h1.545v-.874c0-1.254.87-2.273 2.064-2.273h1.443v1.581z" fill="#fff"/></svg>
                            </a>
                        </li>
                        <li class="socials__item">
                            <a href="https://twitter.com" class="footer__column-link socials__link">
                                <svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 .4C4.698.4.4 4.698.4 10s4.298 9.6 9.6 9.6 9.6-4.298 9.6-9.6S15.302.4 10 .4zm3.905 7.864c.004.082.005.164.005.244 0 2.5-1.901 5.381-5.379 5.381a5.335 5.335 0 0 1-2.898-.85c.147.018.298.025.451.025.886 0 1.701-.301 2.348-.809a1.895 1.895 0 0 1-1.766-1.312 1.9 1.9 0 0 0 .853-.033 1.892 1.892 0 0 1-1.517-1.854v-.023c.255.141.547.227.857.237a1.89 1.89 0 0 1-.585-2.526 5.376 5.376 0 0 0 3.897 1.977 1.891 1.891 0 0 1 3.222-1.725 3.797 3.797 0 0 0 1.2-.459 1.9 1.9 0 0 1-.831 1.047 3.799 3.799 0 0 0 1.086-.299 3.834 3.834 0 0 1-.943.979z" fill="#fff"/></svg>
                            </a>
                        </li>
                        <li class="socials__item">
                            <a href="https://youtube.com" class="footer__column-link socials__link">
                                <svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M11.603 9.833L9.357 8.785C9.161 8.694 9 8.796 9 9.013v1.974c0 .217.161.319.357.228l2.245-1.048c.197-.092.197-.242.001-.334zM10 .4C4.698.4.4 4.698.4 10s4.298 9.6 9.6 9.6 9.6-4.298 9.6-9.6S15.302.4 10 .4zm0 13.5c-4.914 0-5-.443-5-3.9s.086-3.9 5-3.9 5 .443 5 3.9-.086 3.9-5 3.9z" fill="#fff"/></svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <p class="footer__privesy">Copyright 2022 First Class Driving School</p>
        </div>
    </footer>
</body>
</html>