<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instructor More Info</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
</head>
<body>
<section class="instructors">
        <div class="container">
            <div class="instructors__inner">
                <h2 class="instructors__title">Our Instructors</h2>
                <div class="instructors__slider swiper mySwiper">
                    <div class="slider__wrapper swiper-wrapper">
                        <section class="instructors_extended_info">
                            <div class="slider__slide swiper-slide">
                            <div class="slider__slide-img-wrapper">
                                <img src="{{instructor.image.url}}" alt="instructor" class="img slider__slide-img" width="500" height="300">
                            </div>
                            <h3 class="slider__slide-title"><a href="http://127.0.0.1:8000/">{{instructor.title}}</a></h3>
                            <p class="slider__slide-desc">{{instructor.extended_description}}</p>
                                <p class="slider__slide-desc">Work experience: {{instructor.work_experience}}</p>
                                <p class="slider__slide-desc">Favorite auto: {{instructor.favorite_auto}}</p>
                                {% if request.user.is_superuser %}
                                    <a class="navbar__item">
                                      <a class="update_instructor_button" href="instructor/{{i.id}}/update">Update</a>
                                    </a>
                                    <a class="navbar__item">
                                      <a class="delete_instructor_button" href="instructor/{{i.id}}/delete">Delete</a>
                                    </a>
                                        {% endif %}
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>

<section class="instructor_reviews">
         <div class="container">
              <center>
                                    <div class="model_creation_button">
                                      <a class="add_model_button" href="/advantages/create">Add Comment</a>
                                    </div>
                </center>
             {% for g in comment %}
             <div class="instructors_comment">
                <a class="comment">{{g.name}}</a>
                 <a class="comment">{{g.rating_choices}}</a>
                 <a class="comment">{{g.comment}}</a>
                 <a class="comment">{{g.created_date}}</a>
                 <a class="comment">{{g.updated_date}}</a>
             </div>
                                    <a class="navbar__item">
                                      <a class="update_instructor_review_button" href="instructor_review/{{f.id}}/update">Update comment</a>
                                    </a>
                                    <a class="navbar__item">
                                      <a class="delete_instructor_review_button" href="instructor_review/{{f.id}}/delete">Delete comment</a>
                                    </a>
             {% endfor %}
         </div>
</section>
</body>
</html>