<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Login</title>
</head>

<body>
    <section class="login">
        <div class="container login__inner right-panel-active" id="container">
            <div class="form-container sign-up-container register__container">
                <form method="post">
                    <h1>Register</h1>
                    <span>create new account</span>
                    {% csrf_token %}
                        <input type="text" placeholder="Name"{{form.username}}<br>
                        <input type="password" placeholder="Password"{{form.password1}}<br>
                        <input type="password" placeholder="Confirm password"{{form.password2}}<br>
                    <button type="submit">Register</button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>Welcome Back!</h1>
                        <p>To keep connected with us please login with your personal info</p>
                        <button class="ghost" id="signIn"><a href="/login/">Login</a></button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h1>Hello, Friend!</h1>
                        <p>Enter your personal details and start journey with us</p>
                        <button class="ghost" id="signUp">Register</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!--    <script src="{% static 'js/login.js' %}"></script>-->
</body>

</html>