<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>First Class Driving School</title>
</head>
<body>
    <div class="models__wrapper">
        <form action="" class="models__form">
            <h1 class="models__title">Your application has been successfully sent. We will definitely contact you</h1>
            <button><a href="http://127.0.0.1:8000/">Home</a></button>
        </form>
    </div>
</body>
</html>