<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Traffic Laws More Info</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
</head>
<body>
<section class="traffic-laws">
        <div class="container">
            <h2 class="traffic-laws__title">Traffic laws</h2>
            <div class="traffic-laws__inner">
                <section>
                    <div class="traffic-laws__card card">
                    <figure class="card__thumb">
                        <img src="{{traffic_laws.image.url}}" alt="Picture by Daniel Lincoln" class="card__image">
                        <figcaption class="card__caption">
                          <h2 class="card__title">{{traffic_laws.title}}</h2>
                          <p class="card__snippet">{{extended_description}}</p>
                        </figcaption>
                    </figure>
                     </div>
                </section>
            </div>
            <a href="./pages/traffic_laws.html" class="traffic-laws__link">View all</a>
        </div>
</section>
</body>
</html>